<h1>login</h1>
<form action="">
    <label for="email">email</label>
    <input type="text" name="email" id="email" placeholder="Enter Email">

    <label for="password">password</label>
    <input type="text" name="password" id="password" placeholder="Emter Password"> 

    <input type="button" value="Sign in">
</form>
