<html>
    <head>
        <title>Mobiworld</title>
        {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
        <link rel="stylesheet" href="css/style.css" /> --}}
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <nav id="navbar">
            <div class="left">Mobiworld</div>
            <ul class="right">
                <li><a href="http://localhost:3000/">home</a></li>
                <li><a href="http://localhost:3000/customer/signup">signup</a></li>
                <li><a class="login" href="http://localhost:3000/customer/login">Login</a></li>
            </ul>
        </nav>
        
        <div class="app">
           {{{body}}}
        </div>
        
    </body>
</html>
